body{
    background-image: url("https://get.pxhere.com/photo/landscape-nature-grass-horizon-marsh-cloud-plant-sky-field-farm-lawn-meadow-prairie-summer-crop-pasture-soil-agriculture-plain-grassland-wetland-habitat-ecosystem-steppe-rural-area-pasture-land-paddy-field-cow-pasture-natural-environment-geographical-feature-grass-family-land-lot-448415.jpg");
    background-position: center;
}

[class^="col-"] img{
    width: 100%;
    height: 100%;
}

.col-xs-12{
    background-color: red;
}

.col-xs-12::before{
    content: "3/12";
}

@media screen and (min-width: 768px) {
    .col-md-12{
        background-color: orange;
    }

    .col-md-12::before{
        content: "8/12";
    }
}

@media screen and (min-width: 992px) {
    .col-lg-12{
        background-color: green;
    }

    .col-lg-12::before{
        content: "12/12";
    }
}
